@import "tailwindcss";

@theme {
  /* Fonts */
  --font-bakbak: var(--font-bakbak), sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Colors */
  --color-brand-dark: #10101c;
  --color-brand-gray: #cdcdcd;
  --color-brand-light: #efebe4;
  --color-brand-yellow: #e29d20;
  --color-brand-orange: #d46a00;
  --color-brand-red: #dc4b0a;
  --color-brand-teal: #42b6a7;
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
  }
  h1 {
    @apply font-bakbak text-9xl font-semibold;
  }

  h2 {
    @apply font-bakbak text-2xl font-semibold;
  }

  a,
  button {
    @apply hover:cursor-pointer transition-colors duration-300;
  }
}

@layer components {
  /* Botão padrão */
  .btn {
    @apply inline-flex items-center justify-center px-6 py-2 rounded-md font-semibold text-white cursor-pointer transition-colors duration-300;
  }

  /* Container centralizado */
  .container {
    @apply max-w-7xl mx-auto px-3;
  }

  /* Texto padrão */
  .text {
    @apply text-brand-gray leading-relaxed;
  }

  .caption {
    @apply text-sm text-brand-gray italic;
  }

  /* Cards */

  .card-yellow-border {
    @apply bg-brand-yellow border-4 border-brand-orange p-6 rounded-2xl text-brand-light font-semibold;
  }
  .card-teal-border {
    @apply bg-brand-teal border-4 border-brand-dark p-6 rounded-2xl text-brand-light font-semibold;
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r;
  }

  .border-bottom {
    @apply border-b border-b-brand-light/15 pb-3;
  }
}
