@import "tailwindcss";

@theme {
  /* Fonts */
  --font-montserrat: "Poppins", sans-serif;

  /* Colors */
  --color-primary: #4f46e5; /* Exemplo: Indigo-600 */
  --color-secondary: #ec4899; /* Exemplo: Pink-500 */

  --color-gray-100: #f2f2f2;
  --color-gray-200: #bfbfbf;
  --color-gray-300: #8c8c8c;
  --color-gray-400: #595959;
  --color-gray-500: #262626;

  /* Animations */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* Botão padrão */
  .btn {
    @apply inline-flex items-center justify-center px-6 py-2 rounded-md font-semibold text-white cursor-pointer transition-colors duration-300;
  }

  /* Container centralizado */
  .container {
    @apply max-w-7xl mx-auto px-4;
  }

  /* Texto padrão */
  .text {
    @apply text-base md:text-lg text-gray-700 leading-relaxed;
  }

  /* Legenda / caption */
  .caption {
    @apply text-sm text-gray-500 italic;
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r from-primary to-secondary;
  }
}
